body{
 text-align: center;
 background: url("https://s-media-cache-ak0.pinimg.com/736x/4a/96/45/4a96450c32b2f5d893d63fccb647a130.jpg");
 background-size: cover;
 color: #fff;
 font-family: Helvetica;
}

h1{
	color: #D9411E;
}

h3{
	color: white;
}